<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="dialog"
      [mode]="over"
      [opened]="false">
    <mat-nav-list>
      <a mat-list-item href="settings"><mat-icon>settings</mat-icon>&nbsp;&nbsp;Settings</a>
      <mat-toolbar>Card Sets</mat-toolbar>
      <a mat-list-item href="#">Standard</a>
      <a mat-list-item href="#">TShirt</a>
      <a mat-list-item href="#">Fibonacci</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Cards Against Agility</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
